{% extends 'base.html' %}

{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}
    {% if nombreHtml %}
        Este es un mensaje de  {{ nombreHtml | upper }}
    {% else %}
        Hola no envio
    {% endif %}

    <h2>Lista de amigos</h2>
    <ul>
        {% for amigo in amigosHtml | reverse  %}
            <li>{{ amigo }}</li>
        {% endfor %}
    </ul>

    <p>la fecha de hoy es  {{ fechaHtml | today }}</p>
    <p>La frase repetida es {{ repiteHtml('Hola ', 5) }} </p>
{% endblock %}