{% extends 'base.html' %}

{% block titulo %}
Formulario
{% endblock %}

{% block contenido %}
<h1>Registrar Formulario</h1>
<form action="" method="post">
    <label for="username">Nombre de usuario</label>
    <input type="text" name="username" id="username">
    <br>

    <label for="username">Contraseña</label>
    <input type="password" name="password" id="password">
    <br>

    <input type="submit" value="registrar" >
</form>

{% if successHtml %}
    <p style="color: green;">{{ successHtml }}</p>
{% endif %}

{% if errorHtml %}
    <p style="color: red;">{{ errorHtml }}</p>
{% endif %}

{% endblock %}